@page "/visitor/checkin"


@using Blazor.Server.UI.Services
@using Blazor.Server.UI.Pages.CheckinPoints
@using CleanArchitecture.Blazor.Application.Features.VisitorHistories.Commands.Create
@using CleanArchitecture.Blazor.Application.Features.VisitorHistories.DTOs
@using CleanArchitecture.Blazor.Application.Features.Visitors.Constant
@using CleanArchitecture.Blazor.Application.Features.Visitors.DTOs
@using CleanArchitecture.Blazor.Application.Features.Visitors.Queries.Pagination
@using CleanArchitecture.Blazor.Application.Features.Visitors.Commands.AddEdit
@using CleanArchitecture.Blazor.Application.Common.Interfaces.Services
@using HashidsNet
@using Net.Codecrete.QrCodeGenerator
@using SkiaSharp
@inject IJSRuntime JS
@inject IStringLocalizer<Visitors> L
@attribute [Authorize(Policy = Permissions.Visitors.Checkin)]
<PageTitle>@Title</PageTitle>
<style>
    .mud-table-toolbar {
        height: 84px !important;
    }
</style>
<ErrorBoundary>
    <ChildContent>
        <MudGrid>
            <MudItem xs="12" sm="5">
                <div class="d-flex justify-center align-content-center">
                    <MudCard Style="width:320px">
                        <div id="my_camera" class="mud-card-media pa-0 ma-0" style="width:320px; height:240px;"></div>
                        <MudCardActions Style="height:45px">
                            <MudButton Variant="Variant.Text" OnClick="TakePhoto" Color="MudBlazor.Color.Primary"></MudButton>
                        </MudCardActions>
                    </MudCard>
                </div>
            </MudItem>


            <MudItem xs="12" sm="5">
                <div class="d-flex flex-column">
                    <MudTabs Class="align-self-center" Style="width:320px" Elevation="25" Color="MudBlazor.Color.Transparent" Rounded="true" Centered="true" PanelClass="mt-6">
                        <MudTabPanel Text="@L["Check-in"]">
                            @if (_notfound)
                            {
                                <MudAlert Severity="MudBlazor.Severity.Error">@L["Not found visitor"]</MudAlert>
                            }
                            @if (_visitor is not null && _visitor.Status != VisitorStatus.PendingCheckin)
                            {
                                <MudAlert Severity="MudBlazor.Severity.Error">@L[string.Format("Visitor current status is {0}",_visitor.Status)]</MudAlert>
                            }
                            <Blazor.Server.UI.Pages.Visitors.CheckinComponent.CheckinViewComponent TRequest="request"></Blazor.Server.UI.Pages.Visitors.CheckinComponent.CheckinViewComponent>
                        </MudTabPanel>
                        <MudTabPanel Text="@L["Check-out"]">
                            @if (_notfound)
                            {
                                <MudAlert Severity="MudBlazor.Severity.Error">@L["Not found visitor"]</MudAlert>
                            }
                            @if (_visitor is not null && _visitor.Status != VisitorStatus.PendingCheckout)
                            {
                                <MudAlert Severity="MudBlazor.Severity.Error">@L[string.Format("Visitor current status is {0}",_visitor.Status)]</MudAlert>
                            }
                            <Blazor.Server.UI.Pages.Visitors.CheckinComponent.CheckoutViewComponent TRequest="request"></Blazor.Server.UI.Pages.Visitors.CheckinComponent.CheckoutViewComponent>
                        </MudTabPanel>
                    </MudTabs>



                </div>
            </MudItem>

        </MudGrid>
    </ChildContent>
    <ErrorContent>
        <CustomError Exception="context"></CustomError>
    </ErrorContent>
</ErrorBoundary>
@code {

    public string? Title { get; private set; }
    private bool _uploading;
    private bool _autoCheckin;
    private bool _notfound = false;
    private string _imgUri;
    private string _captionText;
    private string _decodedText;

    private VisitorDto? _visitor = new();
    [Inject]
    private IVisitorService VisitorService { get; set; } = default!;
    [Inject]
    private IVisitorHistoryService VisitorHistoryService { get; set; } = default!;
    private CreateVisitorHistoryCommand request { get; set; } = new CreateVisitorHistoryCommand();
    SKTypeface _typeface;
    SKFont captionFont;

    protected override Task OnInitializedAsync()
    {
        _typeface = SKTypeface.FromFamilyName("Arial", SKFontStyleWeight.Bold, SKFontStyleWidth.Normal, SKFontStyleSlant.Upright);
        captionFont = new SKFont(_typeface, 23);
        Title = L["Check-in"];
        return base.OnInitializedAsync();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initalScanner", "my_camera", DotNetObjectReference.Create(this));
        }
        await base.OnAfterRenderAsync(firstRender);
    }
    private async Task TakePhoto(MouseEventArgs e)
    {
        await JS.InvokeVoidAsync("takeSnapshot", DotNetObjectReference.Create(this));
    }
    [JSInvokable]
    public async Task GetResult(string decodedText)
    {
        _decodedText = decodedText;
        _visitor = await VisitorService.SearchVisitorAsync(decodedText);
        if (_visitor is null)
        {
            _notfound = true;
        }
        else
        {
            var visitorHistories = await VisitorHistoryService.GetByVisitorIdAsync(_visitor.Id);
            request = new CreateVisitorHistoryCommand()
                {
                    CurrentStatus = _visitor.Status,
                    PassCode = _visitor.PassCode,
                    QrCode = _visitor.QrCode,
                    SiteId = _visitor.SiteId,
                    CompanionCount = _visitor.CompanionCount,
                    VisitEmployee = _visitor.Employee,
                    Avatar = _visitor.Avatar,
                    CompanyName = _visitor.CompanyName,
                    VisitorId = _visitor.Id,
                    Visitor = _visitor.Name,
                    LicensePlateNumber = _visitor.LicensePlateNumber,
                    Companions = _visitor.Companions,
                    CheckinPointId = null,
                    Histories = visitorHistories

                };

        }
        StateHasChanged();
    }
    [JSInvokable]
    public Task ClearResult()
    {
        //_decodedText = "";
        //StateHasChanged();
        return Task.CompletedTask;
    }
    [JSInvokable]
    public Task ProcessImage(string imageString)
    {
        byte[] imageData = Convert.FromBase64String(imageString.Split(',')[1]);
        _captionText = "adGaLOJWKjjb";

        using var source = SKBitmap.Decode(imageData);
        int width = source.Width;
        int height = source.Height + 50;

        using var surface = SKSurface.Create(new SKImageInfo(width, height));
        var canvas = surface.Canvas;
        canvas.Clear(SKColors.Black);

        // Flip horizontally and draw the original image
        canvas.Save();
        canvas.Scale(-1, 1, width / 2f, height / 2f - 25);
        canvas.DrawBitmap(source, 0, 0);
        canvas.Restore();

        // Draw footer bar for caption (semi-transparent black)
        using var footerPaint = new SKPaint { Color = new SKColor(0, 0, 0, 136) }; // ~#0008
        canvas.DrawRect(0, height - 50, width, 50, footerPaint);

        // Draw caption text centered in footer bar
        using var textPaint = new SKPaint
        {
            Color = SKColors.White,
            IsAntialias = true,
            TextAlign = SKTextAlign.Center
        };
        canvas.DrawText(_captionText, width / 2f, height - 14, SKTextAlign.Center, captionFont, textPaint);

        using var skImage = surface.Snapshot();
        using var data = skImage.Encode(SKEncodedImageFormat.Jpeg, 100);
        _imgUri = "data:image/jpeg;base64," + Convert.ToBase64String(data.ToArray());

        return Task.CompletedTask;
    }

    public void Dispose()
    {
        _typeface?.Dispose();
        captionFont?.Dispose();
    }


}
